import(splines)
import(survival)
import(reticulate)
import(tune)

importFrom(stats, pnorm, dnorm, qnorm, update,  binomial, lm, glm, na.omit, predict, quantile,
           sd, optim, pchisq, update.formula, coef, setNames, as.formula, model.matrix,
           median, formula)
importFrom(date, date.mdy, mdy.date, as.date)
importFrom(utils, methods, tail, combn)
importFrom(graphics, abline, lines, plot.default, grid, segments)
importFrom(MASS, mvrnorm, stepAIC)

importFrom(kernlab, ksvm)
importFrom(nnet, nnet)
importFrom(glmnet, glmnet, cv.glmnet)
importFrom(caret, train, trainControl, twoClassSummary)
importFrom(SuperLearner, SuperLearner, All)
importFrom(methods, is)

importFrom(flexsurv, flexsurvreg)
importFrom(survivalmodels, deepsurv)
importFrom(randomForestSRC, rfsrc, tune.rfsrc, rfsrc.fast)
importFrom(prodlim, prodlim)
importFrom(hdnom, glmnet_basesurv)
importFrom(glmnetUtils, cva.glmnet)
#importFrom(zoo, na.approx)
#importFrom(dplyr, last)
importFrom(mosaic, spliner)
importFrom(cubature, cubintegrate)
importFrom(mosaicCalc, D)
importFrom(timeROC, timeROC)
importFrom(rpart, rpart)


export(aft.gamma)
export(aft.ggamma)
export(aft.weibull)
export(aft.llogis)
export(ph.exponential)
export(ph.gompertz)
export(cox.lasso)
export(cox.ridge)
export(cox.en)
export(cox.aic)
export(cox.all)
export(nn.time)
export(rf.time)
export(sl.time)

export(tune.cox.aic)
export(tune.cox.lasso)
export(tune.cox.ridge)
export(tune.cox.en)
export(tune.nn.time)
export(tune.rf.time)

S3method(predict, flexsurv)
S3method(predict, cox)
S3method(predict, rf.time)
S3method(predict, nn.time)
S3method(predict, sl.time)

export(auc)
export(roc.time)
export(metric)

export(differentiation)

S3method(summary, flexsurv)
S3method(summary, cox)
S3method(summary, rf.time)
S3method(summary, nn.time)
S3method(summary, sl.time)

S3method(plot, flexsurv)
S3method(plot, cox)
S3method(plot, rf.time)
S3method(plot, nn.time)
S3method(plot, sl.time)

S3method(print, flexsurv)
S3method(print, cox)
S3method(print, rf.time)
S3method(print, nn.time)
S3method(print, sl.time)

S3method(plot, rocrisca)
S3method(lines, rocrisca)
