import(splines)
import(survival)
import(survivalPLANN)
#import(RISCA)


importFrom(stats, terms, pnorm, dnorm, qnorm, update,  binomial, lm, glm, na.omit, predict, quantile,
           sd, optim, pchisq, update.formula, coef, setNames, as.formula, model.matrix,
           median, formula)

importFrom(date, date.mdy, mdy.date, as.date)
importFrom(utils, data, methods, tail, combn, txtProgressBar, setTxtProgressBar)
importFrom(graphics, abline, lines, plot.default, grid, segments, text)
importFrom(MASS, mvrnorm, stepAIC)
importFrom(methods, is, hasArg)

importFrom(glmnet, glmnet, cv.glmnet)

importFrom(caret, train, trainControl, twoClassSummary)

importFrom(flexsurv, flexsurvreg, flexsurvspline)

importFrom(randomForestSRC, rfsrc, tune.rfsrc, rfsrc.fast)

importFrom(hdnom, glmnet_basesurv)
importFrom("graphics", "text")

#importFrom(glmnetUtils, cv.glmnet)

importFrom(dplyr, last)

importFrom(rpart, rpart)

export(LIB_AFTgamma)
export(LIB_AFTggamma)
export(LIB_AFTweibull)
export(LIB_AFTllogis)
export(LIB_PHexponential)
export(LIB_PHgompertz)
export(LIB_PHspline)
export(LIB_COXlasso)
export(LIB_COXridge)
export(LIB_COXen)
export(LIB_COXaic)
export(LIB_COXall)
export(LIB_RSF)
export(LIB_PLANN)

export(survivalSL)

export(tunePHspline)
export(tuneCOXlasso)
export(tuneCOXridge)
export(tuneCOXen)
export(tuneRSF)
export(tunePLANN)
export(plot.libsl)
export(plot.sltime)
#export(roc)
export(metrics)
export(predict.libsl)
export(predict.sltime)
export(summary.libsl)
export(summary.sltime)



S3method(predict, libsl)
S3method(predict, sltime)

S3method(summary, libsl)
S3method(summary, sltime)

S3method(plot, libsl)
S3method(plot, sltime)



S3method(print, libsl)
S3method(print, sltime)

#S3method(plot, rocrisca)
#S3method(lines, rocrisca)

