import(splines)
import(survival)
import(reticulate)
#import(tune)

importFrom(stats, pnorm, dnorm, qnorm, update,  binomial, lm, glm, na.omit, predict, quantile,
           sd, optim, pchisq, update.formula, coef, setNames, as.formula, model.matrix,
           median, formula)

importFrom(date, date.mdy, mdy.date, as.date)
importFrom(utils, methods, tail, combn, txtProgressBar, setTxtProgressBar)
importFrom(graphics, abline, lines, plot.default, grid, segments)
importFrom(MASS, mvrnorm, stepAIC)

#importFrom(kernlab, ksvm)
#importFrom(nnet, nnet)
importFrom(glmnet, glmnet, cv.glmnet)
importFrom(caret, train, trainControl, twoClassSummary)
#importFrom(SuperLearner, SuperLearner, All)
importFrom(methods, is)

importFrom(flexsurv, flexsurvreg, flexsurvspline)
importFrom(survivalmodels, deepsurv)
importFrom(randomForestSRC, rfsrc, tune.rfsrc, rfsrc.fast)
#importFrom(prodlim, prodlim)
importFrom(hdnom, glmnet_basesurv)
importFrom(glmnetUtils, cva.glmnet)
#importFrom(zoo, na.approx)
importFrom(dplyr, last)
#importFrom(mosaic, spliner)
#importFrom(cubature, cubintegrate)
#importFrom(mosaicCalc, D)
#importFrom(timeROC, timeROC)
importFrom(rpart, rpart)


export(AFTgamma)
export(AFTggamma)
export(AFTweibull)
export(AFTllogis)
export(PHexponential)
export(PHgompertz)
export(PHspline)
export(COXlasso)
export(COXridge)
export(COXen)
export(COXaic)
export(COXall)
export(SNN)
export(RSF)
export(survivalSL)

export(tunePHspline)
export(tuneCOXaic)
export(tuneCOXlasso)
export(tuneCOXridge)
export(tuneCOXen)
export(tuneSNN)
export(tuneRSF)

S3method(predict, flexsurv)
S3method(predict, cox)
S3method(predict, rsf)
S3method(predict, snn)
S3method(predict, sltime)

export(auc)
export(roc)
export(metric)

export(differentiation)

S3method(summary, flexsurv)
S3method(summary, cox)
S3method(summary, rsf)
S3method(summary, snn)
S3method(summary, sltime)

S3method(plot, flexsurv)
S3method(plot, cox)
S3method(plot, rsf)
S3method(plot, snn)
S3method(plot, sltime)

S3method(print, flexsurv)
S3method(print, cox)
S3method(print, rsf)
S3method(print, snn)
S3method(print, sltime)

S3method(plot, rocrisca)
S3method(lines, rocrisca)
